#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu {
    width: auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}

#cssmenu ul {
    background: black;
}
#cssmenu:after,
#cssmenu ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu ul li {
    float: left;
    display: block;
}

#cssmenu ul li a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    border-right: 1px solid white;

}
table
{
    margin: 30px;
}

td
{
    border: 1px solid black;
}


